name: CI

on:
  pull_request:
  push:
    branches: master
  schedule:
  - cron: '0 0 * * *'  # every day at midnight

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    strategy:
      matrix:
        os:
        # https://docs.github.com/en/actions/using-github-hosted-runners/about-github-hosted-runners/about-github-hosted-runners#standard-github-hosted-runners-for-public-repositories
        # - macos-13 # x86
        # - macos-latest # aarch
        - ubuntu-latest
    permissions:
      id-token: write
      contents: read
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
          ref: ${{ github.event.pull_request.head.sha }}
      - name: 'Debug Environment'
        shell: bash -leo pipefail {0}
        env:
          GITHUB_JSON_PAYLOAD: ${{ toJson(github) }}
        run: |
          bash test/ci-debug.sh

      - name: Setup Bats and bats libs
        id: setup-bats
        uses: bats-core/bats-action@3.0.0
      - run: bash test/ci.sh

      # - run: test/bats/bin/bats test
      #   env:
      #     WS_VERSION: ${{ github.event.pull_request.head.sha }}
      #     BW_CLIENTID: ${{ secrets.BW_CLIENTID }}
      #     BW_CLIENTSECRET: ${{ secrets.BW_CLIENTSECRET }}
      #     WS_BW_MASTER_PASS: ${{ secrets.WS_BW_MASTER_PASS }}

  # full-setup:
  #   strategy:
  #     matrix:
  #       os:
  #       # https://docs.github.com/en/actions/using-github-hosted-runners/about-github-hosted-runners/about-github-hosted-runners#standard-github-hosted-runners-for-public-repositories
  #       - macos-13 # x86
  #       - macos-latest # aarch
  #       - ubuntu-latest
  #   permissions:
  #     id-token: write
  #     contents: read
  #   runs-on: ${{ matrix.os }}
  #   steps:
  #     - uses: actions/checkout@v4
  #       with:
  #         submodules: recursive
  #         ref: ${{ github.event.pull_request.head.sha || env.GITHUB_SHA }}
  #     - run: bash test/ci_full_setup.bash
  #       env:
  #         WS_VERSION: ${{ github.event.pull_request.head.sha || env.GITHUB_SHA }}
  #         BW_CLIENTID: ${{ secrets.BW_CLIENTID }}
  #         BW_CLIENTSECRET: ${{ secrets.BW_CLIENTSECRET }}
  #         WS_BW_MASTER_PASS: ${{ secrets.WS_BW_MASTER_PASS }}
